In [1]:
from traffic.core import Traffic

from traffic.data import navaids

In [2]:
nav = navaids.extent("LSZH")
nav

/home/adrien/.conda/envs/traffic/lib/python3.8/site-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,name,type,latitude,longitude,altitude,frequency,magnetic_variation,description
13193,17THR,FIX,47.386647,8.702436,NaN,NaN,NaN,None
17030,22LOC,FIX,47.384075,8.714000,NaN,NaN,NaN,None
17792,23LOC,FIX,47.128417,8.345897,NaN,NaN,NaN,None
23355,30LOC,FIX,47.380050,8.732703,NaN,NaN,NaN,None
23356,30LOC,FIX,47.517811,8.506894,NaN,NaN,NaN,None
...,...,...,...,...,...,...,...,...
285470,IZW,DME,47.457528,8.566611,1423.0,109.75,NaN,LSZH 28 DME-ILS
285471,IZS,DME,47.451250,8.551833,1410.0,110.75,NaN,LSZH 34 DME-ILS
288377,KLO,DME,47.457139,8.545583,1410.0,114.85,NaN,KLOTEN ZURICH VOR-DME
290121,TRA,DME,47.689500,8.436972,1850.0,114.30,NaN,TRASADINGEN VOR-DME
290686,ZUE,DME,47.592167,8.817667,1730.0,110.05,NaN,ZURICH EAST VOR-DME

In [3]:
traffic = Traffic.from_file("../deep_traffic_generation/data/traffic_15.pkl")
traffic

/home/adrien/.conda/envs/traffic/lib/python3.8/site-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

              count
flight_id
ABP721_057      200
SWR134J_9747    200
SWR134J_9730    200
SWR134J_9731    200
SWR134J_9732    200
SWR134J_9733    200
SWR134J_9734    200
SWR134J_9736    200
SWR134J_9737    200
SWR134J_9738    200

In [4]:
navids = set([name for key in traffic.data.navpoints.value_counts().keys() for name in key.split(",")])

/home/adrien/.conda/envs/traffic/lib/python3.8/site-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [5]:
import numpy as np

navpts = np.array([[nav[id_].lat, nav[id_].lon] for id_ in navids])
navpts

array([[47.89573056,  8.46729167],
       [47.8645    ,  8.58916667],
       [47.48209167,  8.54546389],
       [47.41739444,  8.624275  ],
       [47.45246389,  8.62387222],
       [47.395     ,  8.66333333],
       [47.59641667,  8.45255556],
       [47.43933889,  8.56098333],
       [47.53513889,  8.30475   ],
       [47.48808611,  8.52758611],
       [47.78416667,  8.89611111],
       [47.50269444,  8.45916667],
       [47.40166667,  8.63333333],
       [47.51846667,  8.50715   ],
       [47.97897222,  8.50794722],
       [47.42166667,  8.35666667],
       [47.85833333,  8.39666667],
       [47.63613889,  8.80902778],
       [47.44555556,  8.72430833],
       [47.68758333,  8.25358333],
       [47.57080556,  8.15405556],
       [47.42888889,  8.39166667],
       [47.96072222,  8.52270833],
       [47.44759167,  8.70459167],
       [47.67805556,  8.23252778],
       [47.5075    ,  8.30013889],
       [47.52866389,  8.47238611],
       [47.575     ,  8.70972222],
       [47.62055556,  8.90388889],
       [47.6895    ,  8.43697222],
       [47.78355556,  8.43089167],
       [47.51766111,  8.50495278],
       [47.42471944,  8.89382222],
       [47.73305556,  8.5675    ],
       [47.80505556,  8.55680556],
       [47.46166667,  8.67111111],
       [47.45638889,  8.89694444],
       [47.45303889,  8.62020278],
       [47.55863889,  8.22972222],
       [47.40238889,  8.63016389],
       [47.70116667,  8.54344444],
       [47.41747222,  8.62447222],
       [47.63083333,  8.66777778],
       [47.518     ,  8.50558333],
       [47.45118889,  8.64616667],
       [47.57863889,  8.60519444],
       [47.57478611,  8.697275  ],
       [47.4303    ,  8.56718889],
       [47.46827778,  8.19622222],
       [47.44545833,  8.72520556],
       [47.4407    ,  8.81708889],
       [47.44311111,  8.55838889],
       [47.59805556,  8.53416667],
       [47.53529722,  8.49484444],
       [47.76138889,  8.45861111],
       [47.48553889,  8.37503611],
       [47.86444444,  8.53822222],
       [47.45713889,  8.54558333],
       [47.41462222,  8.7786    ],
       [47.45933333,  8.53202778],
       [47.384075  ,  8.714     ],
       [47.46234167,  8.48959722],
       [47.61952778,  8.14572222],
       [47.72458333,  8.55433333],
       [47.45983333,  8.56844444],
       [47.57969444,  8.40241667],
       [47.61627778,  8.27561111],
       [47.38664722,  8.70243611],
       [47.52255556,  8.34055556],
       [47.85004167,  8.42817222],
       [47.4969    ,  8.51584167],
       [47.64560833,  8.30404444],
       [47.46521667,  8.76633889],
       [47.52476111,  8.74538889],
       [47.67938611,  8.40583889],
       [47.48763333,  8.52771667],
       [47.61773333,  8.21997222],
       [47.48224167,  8.81483611],
       [47.74180556,  8.57655556],
       [47.59817222,  8.45705556],
       [47.63369444,  8.52997222],
       [47.43881389,  8.81681111],
       [47.95361667,  8.49365833],
       [47.46111111,  8.50444444],
       [47.91331667,  8.329675  ],
       [47.54666667,  8.94291667],
       [47.67619167,  8.39718611],
       [47.435075  ,  8.86679167],
       [47.6255    ,  8.24180556],
       [47.94286389,  8.51355833],
       [47.76302778,  8.50061111],
       [47.41595   ,  8.57784167],
       [47.50722222,  8.78083333],
       [47.38867222,  8.69298889],
       [47.75580556,  8.36222222],
       [47.44469444,  8.3675    ],
       [47.51708333,  8.38466667],
       [47.4835    ,  8.7125    ],
       [47.59616944,  8.23281111],
       [47.40123889,  8.58935278],
       [47.81897222,  8.48927778],
       [47.55658333,  8.74288889],
       [47.77777778,  8.73194444],
       [47.54338889,  8.67922222],
       [47.45986111,  8.56641667],
       [47.85183056,  8.52695556],
       [47.38358333,  8.60315556],
       [47.67825   ,  8.59636111],
       [47.45305556,  8.5075    ],
       [47.69477778,  8.44619444],
       [47.59530556,  8.23369444],
       [47.82375   ,  8.62836111],
       [47.45275   ,  8.74133333],
       [47.59216667,  8.81766667],
       [47.40576111,  8.61467778],
       [47.70774167,  8.49242222],
       [47.47905556,  8.53363889],
       [47.44911111,  8.27491667],
       [47.45110833,  8.64706667],
       [47.86526389,  8.34938889],
       [47.41388333,  8.77916111],
       [47.88722778,  8.36786111],
       [47.46722222,  8.82277778],
       [47.53416667,  8.43666667],
       [47.38972222,  8.34611111],
       [47.39406667,  8.59208056],
       [47.63727222,  8.32324167],
       [47.88589444,  8.52562778],
       [47.38005   ,  8.73270278],
       [47.91046944,  8.52466944],
       [47.50903333,  8.75516111],
       [47.55563889,  8.82061111],
       [47.43152778,  8.91563889],
       [47.634     ,  8.61688889],
       [47.78533889,  8.52953889],
       [47.41496111,  8.57344167],
       [47.37416667,  8.75933333],
       [47.49393611,  8.52253333],
       [47.62708333,  8.33752778],
       [47.60633333,  8.60891667],
       [47.44295   ,  8.55845   ],
       [47.45104444,  8.64749444],
       [47.86533333,  8.49836111]])

In [6]:
import pyproj
from traffic.core.projection import EuroPP

projection = pyproj.Proj(EuroPP().proj4_init)
transformer = pyproj.Transformer.from_proj(
    pyproj.Proj("epsg:4326"), projection, always_xy=True
)
x, y = transformer.transform(
    navpts[:, 1],
    navpts[:, 0],
)
x = np.reshape(x, (len(x), 1))
y = np.reshape(y, (len(y), 1))

navpts = np.concatenate((x, y), axis=1)

In [7]:
with open("../deep_traffic_generation/data/navpoints_15.npy", "wb") as f:
    np.save(f, navpts)

/home/adrien/.conda/envs/traffic/lib/python3.8/site-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)